BODY {
	BACKGROUND-IMAGE: url(../includes/none); COLOR: #114366; FONT-FAMILY: verdana, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
P {
	BACKGROUND-IMAGE: url(../includes/none); MARGIN-LEFT: 0.5em; COLOR: #114366; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
HTML {
	FONT-SIZE: 100%
}
TABLE {
	FONT-SIZE: 100%
}
BODY {
	FONT-SIZE: 0.8em; MARGIN: 20px 0px 0px
}
H1 {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: 600; FONT-SIZE: 2em; MARGIN-BOTTOM: 0.2em; FONT-FAMILY: arial, helvetica, sans-serif; LETTER-SPACING: 0.05em
}
H2 {
	MARGIN-TOP: 0.5em; FONT-WEIGHT: 600; FONT-SIZE: 1.8em; BORDER-LEFT-COLOR: #cccccc; MARGIN-BOTTOM: 0.2em; COLOR: #55aac6; BORDER-TOP-COLOR: #cccccc; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial, helvetica, sans-serif; LETTER-SPACING: 0.05em; BORDER-RIGHT-COLOR: #cccccc
}
H3 {
	MARGIN-TOP: 0.5em; FONT-WEIGHT: 700; FONT-SIZE: 1.3em; WORD-SPACING: 0.1em; FONT-FAMILY: arial, helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: 600; FONT-SIZE: 1em; COLOR: #868484
}
H5 {
	FONT-WEIGHT: 600; FONT-SIZE: 1em; TEXT-TRANSFORM: uppercase; LETTER-SPACING: 0.05em
}
H6 {
	FONT-WEIGHT: 600; FONT-SIZE: 0.9em; TEXT-TRANSFORM: uppercase; COLOR: #868484
}
A:link {
	COLOR: #ff0000
}
A:visited {
	COLOR: #990000
}
A:active {
	COLOR: #ff9900
}
A:hover {
	COLOR: #ff9900
}
A.ql {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.ql:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.ql:active {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #a6b0c2; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.ql:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #a6b0c2; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.navbar {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.navbar:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.navbar:active {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.navbar:hover {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #c0d0e0; TEXT-DECORATION: none
}
A.subnavbar {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.subnavbar:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.subnavbar:active {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.subnavbar:hover {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #d5e7ea; TEXT-DECORATION: none
}
A.info {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.info:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.info:active {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #a6b0c2; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.info:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #a6b0c2; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.boxtext {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.boxtext:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.boxtext:active {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.boxtext:hover {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #d5e7ea; TEXT-DECORATION: none
}
TT {
	FONT-WEIGHT: 400; FONT-SIZE: 1.2em; COLOR: #000000; FONT-FAMILY: "Courier New", courier, monospace
}
PRE {
	FONT-WEIGHT: 400; FONT-SIZE: 1.2em; COLOR: #000000; FONT-FAMILY: "Courier New", courier, monospace
}
KBD {
	FONT-WEIGHT: 400; FONT-SIZE: 1.2em; COLOR: #000000; FONT-FAMILY: "Courier New", courier, monospace
}
OL {
	MARGIN-TOP: 0em; LIST-STYLE-TYPE: lower-roman
}
UL {
	MARGIN-TOP: 0em; LIST-STYLE-TYPE: disc
}
UL UL {
	MARGIN-TOP: 0em; LIST-STYLE-TYPE: circle
}
UL UL UL {
	MARGIN-TOP: 0em; LIST-STYLE-TYPE: square
}
LI {
	MARGIN-TOP: 0.5em
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #ff0000; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #f00
}
TH {
	FONT-WEIGHT: 900
}
UL.leftm {
	PADDING-LEFT: 5px; MARGIN-LEFT: 2px; LIST-STYLE-TYPE: none
}
UL.leftm2 {
	PADDING-LEFT: 10px; LIST-STYLE-IMAGE: url(/careers/images/dot2.gif); MARGIN-LEFT: 10px; COLOR: #336699
}
CAPTION {
	FONT-WEIGHT: 600; FONT-STYLE: italic
}
.footer {
	FONT-WEIGHT: 300; FONT-SIZE: 0.8em; COLOR: #a09f9f; LINE-HEIGHT: normal; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.underscore {
	BORDER-LEFT-COLOR: #eaeaea; BORDER-TOP-COLOR: #eaeaea; BORDER-BOTTOM: #eaeaea 1px solid; BORDER-RIGHT-COLOR: #eaeaea
}
.nonebefore {
	MARGIN-TOP: 0px
}
.noneafter {
	MARGIN-BOTTOM: 0px
}
.smalltext {
	FONT-SIZE: 0.85em
}
.outline {
	BORDER-RIGHT: #4f8d97 1px solid; BORDER-TOP: #4f8d97 1px solid; BORDER-LEFT: #4f8d97 1px solid; BORDER-BOTTOM: #4f8d97 1px solid
}
.headerbar {
	PADDING-LEFT: 10px; FONT-WEIGHT: 700; FONT-SIZE: 0.85em; BORDER-BOTTOM-COLOR: #e9e9e9; BORDER-LEFT: #e9e9e9 1px solid; COLOR: #ffffff; BORDER-TOP-COLOR: #e9e9e9; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #e9e9e9
}
.boxtextmain {
	FONT-WEIGHT: 700; FONT-SIZE: 0.85em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.box {
	BORDER-BOTTOM-COLOR: #e9e9e9; BORDER-LEFT: #e9e9e9 1px solid; BORDER-TOP-COLOR: #e9e9e9; BORDER-RIGHT-COLOR: #e9e9e9
}
.boxpicture {
	MARGIN-RIGHT: 5px
}
.info {
	FONT-WEIGHT: 700; FONT-SIZE: 1em; COLOR: #114366; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.whitetop {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.topFold {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.pic {
	BORDER-RIGHT: #114366 1px solid; BORDER-TOP: #114366 1px solid; BORDER-LEFT: #114366 1px solid; BORDER-BOTTOM: #114366 1px solid
}
.blue {
	BORDER-TOP: #000099 1px solid; BORDER-LEFT-COLOR: #000099; BORDER-BOTTOM-COLOR: #000099; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000099; BORDER-BOTTOM-STYLE: solid
}
.tableheading {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #e7deef
}
.tablebody {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #f0f0f0
}
TABLE.inpage {
	MARGIN-BOTTOM: 12px
}
.tablebodyinput {
	COLOR: #000000; BACKGROUND-COLOR: #f5f5f5
}
#content {
	PADDING-RIGHT: 20px; MARGIN-RIGHT: 20px
}
.tablehome {
	BORDER-BOTTOM-COLOR: #e9e9e9; BORDER-LEFT: #e9e9e9 1px solid; BORDER-TOP-COLOR: #e9e9e9; BORDER-RIGHT-COLOR: #e9e9e9
}
.tablemain {
	BORDER-RIGHT: #e9e9e9 1px solid; BORDER-TOP: #e9e9e9 1px solid; BORDER-LEFT: #e9e9e9 1px solid; BORDER-BOTTOM: #e9e9e9 1px solid
}
.tablehomerightcell {
	BORDER-RIGHT: #e9e9e9 1px solid; BORDER-LEFT-COLOR: #e9e9e9; BORDER-BOTTOM-COLOR: #e9e9e9; BORDER-TOP-COLOR: #e9e9e9
}
.table-bottom {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(http://www.essex.ac.uk/careers/images/bottom-strip.gif); BORDER-BOTTOM-COLOR: #e9e9e9; BORDER-TOP-COLOR: #e9e9e9; BACKGROUND-REPEAT: no-repeat; BORDER-RIGHT-COLOR: #e9e9e9
}
.strip {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../images/lb-strip3.gif); BACKGROUND-REPEAT: repeat-y
}
.menu {
	BORDER-LEFT-COLOR: #e9e9e9; BORDER-TOP-COLOR: #e9e9e9; BORDER-BOTTOM: #e9e9e9 1px solid; BORDER-RIGHT-COLOR: #e9e9e9
}
#textcell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px
}
.strip2 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/strip-small-long.jpg); BACKGROUND-REPEAT: no-repeat
}
.strip3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/strip-small-long-blue2.jpg); BACKGROUND-REPEAT: no-repeat
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-SPACING: normal; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LETTER-SPACING: normal
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
STRONG {
	FONT-WEIGHT: 800
}
B {
	FONT-WEIGHT: 800
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
.announce {
	BORDER-RIGHT: #330066 1px solid; BORDER-TOP: #330066 1px solid; BORDER-LEFT: #330066 1px solid; BORDER-BOTTOM: #330066 1px solid
}
IMG.showborder {
	BORDER-RIGHT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-BOTTOM: #ff0000 1px solid
}
IMG.noborder {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
